* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root{
  --text-color: white;
  --bg-url: url(./assets/bg-mobile.jpg);
  --stroke-color: rgba(255, 255, 255, 0.50);
  --surface-color: rgba(255, 255, 255, 0.10);
  --surface-color-hover: rgba(0, 0, 0, 0.02);
  --highlight-color: rgba(255, 255, 255, 0.2);
  --switch-bg-url: url("./assets/moon-stars.svg");
}

.light{
  --text-color: black;
  --bg-url: url(./assets/bg-mobile-light.jpg);
  --stroke-color: rgba(0, 0, 0, 0.50);
  --surface-color: rgba(0, 0, 0, 0.05);
  --surface-color-hover: rgba(255, 255, 255, 0.05);
  --highlight-color: rgba(0, 0, 0, 0.1);
  --switch-bg-url: url("./assets/sun.svg");
}

body {
  /*
  background-image: url(./assets/bg-mobile.jpg);
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
  */
  background: var(--bg-url) no-repeat top center/cover;
  height: 100vh;
}

body * {
  font-family: 'Inter', sans-serif;
  color: var(--text-color);
}

#container {
  width: 100%;
  max-width: 588px;
  margin: 0px auto 56px;
  padding: 0px 24px;
}

#profile{
  text-align: center;
  padding: 24px;
}

#profile img {
  width: 112px;
  margin: auto;
}

#profile p {
  line-height: 24px;
  font-weight: 500;
  margin-top: 8px;
}

/* switch */
#switch {
  position: relative;

  width: 64px;
  margin: 4px auto;
}

#switch button {
  width: 32px;
  height: 32px;
  background: white var(--switch-bg-url) no-repeat center;
  border: 0;
  border-radius: 50%;

  position: absolute;
  z-index: 1;
  left: 0;
  top: 50%;
  transform: translateY(-50%);

  animation: slide-out 0.4s;
}

.light #switch button {
  animation: slide-in 0.4s forwards;
}

#switch button:hover {
  outline: 8px solid var(--highlight-color);
  cursor: pointer;
}

#switch span {
  display: block;
  width: 64px;
  height: 24px;
  background: var(--surface-color);
  border: 1px solid var(--stroke-color);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 9999px;
}

ul {
  display: flex;
  flex-direction: column;
  list-style: none;
  padding: 24px 0px 0px 0px;
  gap: 16px;
}

ul li a {
  display: flex;
  font-weight: 500;
  padding: 16px 24px;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  background-color: var(--surface-color);
  border: 1px solid var(--stroke-color);
  border-radius: 8px;
  transition: background 0.3s;
}

ul li a:hover{
  background: var(--surface-color-hover);
  border: 1.5px solid var(--text-color);
}

#social-links {
  display: flex;
  padding: 24px;
  align-items: center;
  justify-content: center;
  font-size: 24px;
}

#social-links a {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 16px;
  border-radius: 50%;

  transition: background 0.3s;
}

#social-links a:hover {
  background-color: var(--highlight-color);
}

footer {
  text-align: center;
  font-size: 14px;
}

@media (min-width: 700px) {
  :root {
    --bg-url: url("./assets/bg-desktop.jpg");
  }

  .light {
    --bg-url: url("./assets/bg-desktop-light.jpg");
  }
}

@keyframes slide-in {
  from{
    left: 0;
  }
  to{
    left: 50%;
  }
}

@keyframes slide-out {
  from {
    left: 50%;
  }
  to{
    left: 0;
  }
}